--
-- PostgreSQL database dump
--

-- Dumped from database version 14.4
-- Dumped by pg_dump version 14.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: article_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.article_tags (
    id bigint NOT NULL,
    tags character varying(255)
);


ALTER TABLE public.article_tags OWNER TO postgres;

--
-- Name: articles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.articles (
    id bigint NOT NULL,
    content character varying,
    date character varying(255),
    snippet character varying(255),
    title character varying(255),
    author character varying(255),
    image character varying(255),
    main_image character varying(255)
);


ALTER TABLE public.articles OWNER TO postgres;

--
-- Name: games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.games (
    id bigint NOT NULL,
    first_team_score character varying(255),
    location character varying(255),
    second_team_score character varying(255),
    "time" character varying(255),
    winner character varying(255),
    first_team_id bigint,
    second_team_id bigint,
    date timestamp without time zone,
    has_ended boolean DEFAULT false
);


ALTER TABLE public.games OWNER TO postgres;

--
-- Name: hibernate_sequence; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hibernate_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hibernate_sequence OWNER TO postgres;

--
-- Name: players; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.players (
    id bigint NOT NULL,
    first_name character varying(255),
    from_or_attended character varying(255),
    height character varying(255),
    number character varying(255),
    "position" character varying(255),
    second_name character varying(255),
    weight character varying(255),
    team_id bigint NOT NULL,
    assists character varying(255),
    points character varying(255),
    rebounds character varying(255)
);


ALTER TABLE public.players OWNER TO postgres;

--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team (
    id bigint NOT NULL,
    full_name character varying(255),
    name character varying(255),
    standings character varying(255),
    logo character varying(255),
    conference character varying(255),
    division character varying(255),
    games_lost character varying(255) DEFAULT 0,
    games_won character varying(255) DEFAULT 0,
    abbreviation character varying(255),
    assists_leader character varying(255),
    points_leader character varying(255),
    rebounds_leader character varying(255)
);


ALTER TABLE public.team OWNER TO postgres;

--
-- Data for Name: article_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.games (id, first_team_score, location, second_team_score, "time", winner, first_team_id, second_team_id, date, has_ended) VALUES (2367, NULL, 'location', NULL, '7:00 pm ET', NULL, 5, 30, NULL, false);
INSERT INTO public.games (id, first_team_score, location, second_team_score, "time", winner, first_team_id, second_team_id, date, has_ended) VALUES (2368, NULL, 'location', NULL, '7:30 pm ET', NULL, 22, 1, NULL, false);
INSERT INTO public.games (id, first_team_score, location, second_team_score, "time", winner, first_team_id, second_team_id, date, has_ended) VALUES (2369, NULL, 'location', NULL, '7:30 pm ET', NULL, 28, 3, NULL, false);


--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.players (id, first_name, from_or_attended, height, number, "position", second_name, weight, team_id, assists, points, rebounds) VALUES (1631132, 'Christian', 'Arizona Cameroon', '7-1', '', 'C', 'Koloko', '230 lbs', 28, '--', '--', '--');
INSERT INTO public.players (id, first_name, from_or_attended, height, number, "position", second_name, weight, team_id, assists, points, rebounds) VALUES (1629723, 'John', 'Indiana-Purdue Fort Wayne USA', '6-5', '46', 'G', 'Konchar', '210 lbs', 15, '1.5', '4.8', '4.6');
INSERT INTO public.players (id, first_name, from_or_attended, height, number, "position", second_name, weight, team_id, assists, points, rebounds) VALUES (1627788, 'Furkan', 'Anadolu Efes Turkey', '6-7', '30', 'G-F', 'Korkmaz', '202 lbs', 23, '1.9', '7.6', '2.6');


--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.team (id, full_name, name, standings, logo, conference, division, games_lost, games_won, abbreviation, assists_leader, points_leader, rebounds_leader) VALUES (27, 'San Antonio Spurs', 'Spurs', '1', 'spurs-logo.svg', 'Western', 'South-West', '0', '0', 'SAS', '1628960', '1628960', '1628960');
INSERT INTO public.team (id, full_name, name, standings, logo, conference, division, games_lost, games_won, abbreviation, assists_leader, points_leader, rebounds_leader) VALUES (26, 'Sacramento Kings', 'Kings', '1', 'kings-logo.svg', 'Western', 'Pacific', '0', '2', 'SAC', '1628960', '1628960', '1628960');
INSERT INTO public.team (id, full_name, name, standings, logo, conference, division, games_lost, games_won, abbreviation, assists_leader, points_leader, rebounds_leader) VALUES (25, 'Portland Trail Blazers', 'Trail Blazers', '1', 'blazers-logo.svg', 'Western', 'North-West', '0', '0', 'POR', '1628960', '1628960', '1628960');


--
-- Name: hibernate_sequence; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hibernate_sequence', 2380, true);


--
-- Name: articles articles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (id);


--
-- Name: games fk86x0u79kyqy42x65okep9yupw; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT fk86x0u79kyqy42x65okep9yupw FOREIGN KEY (first_team_id) REFERENCES public.team(id);


--
-- Name: article_tags fkjtslnyg6g9r6n8s0gbomrvbv1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_tags
    ADD CONSTRAINT fkjtslnyg6g9r6n8s0gbomrvbv1 FOREIGN KEY (id) REFERENCES public.articles(id);


--
-- Name: games fkmrsvu2p51a1aeji1cvo5v1ltg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT fkmrsvu2p51a1aeji1cvo5v1ltg FOREIGN KEY (second_team_id) REFERENCES public.team(id);


--
-- Name: players fktj6qbvs84bdv8oquqgob0o44u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT fktj6qbvs84bdv8oquqgob0o44u FOREIGN KEY (team_id) REFERENCES public.team(id);


--
-- PostgreSQL database dump complete
--

